<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <ul>

        <li>
            <div>

                <a href="https://www.baidu.com/s?wd=%E6%89%8B%E6%9C%BA">手机</a>

                <a href="https://www.baidu.com/s?wd=%E7%9B%B8%E6%9C%BA">相机</a>

            </div>
            <div>

                <div>
                    <div style="color: gray">
                        手机通讯
                    </div>
                    <div style="color: aqua">

                        <div>
                            老人机
                        </div>

                    </div>
                </div>

                <div>
                    <div style="color: gray">
                        摄影摄像
                    </div>
                    <div style="color: aqua">

                        <div>
                            拍立得
                        </div>

                    </div>
                </div>

            </div>
        </li>

    </ul>

    <ul>
        <div style="color: blueviolet">banners</div>
        <div>

            <div>
                <a href="https://www.baidu.com/s?wd=iPhone 15 Pro 128GB 黑色钛金属">
                    <img src="">
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=iPhone 15 Pro 256GB 蓝色钛金属">
                    <img src="">
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=华为Mate 60 Pro 256GB 雅丹黑">
                    <img src="">
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=小米14 Pro 256GB 黑色">
                    <img src="">
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=大疆Pocket 3 标准版">
                    <img src="">
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=索尼A7M4 单机身">
                    <img src="">
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=佳能EOS R50 黑色单机身">
                    <img src="">
                </a>
            </div>

        </div>
    </ul>
    <ul>
        <div style="color: blueviolet">flash_news</div>
        <div>

            <div>
                <a href="https://www.baidu.com/s?wd=iPhone 15 Pro 128GB 黑色钛金属">
                    ? 新品上市！iPhone 15 Pro 128GB 黑色钛金属限时优惠
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=iPhone 15 Pro 256GB 蓝色钛金属">
                    ? iPhone 15 Pro 256GB 蓝色钛金属，库存有限先到先得
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=华为Mate 60 Pro 256GB 雅丹黑">
                    ? 华为Mate 60 Pro 256GB 雅丹黑，支持卫星通话
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=华为Mate 60 Pro 512GB 南糯紫">
                    ? 华为Mate 60 Pro 512GB 南糯紫，大存储畅享体验
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=小米14 Pro 256GB 黑色">
                    ? 小米14 Pro 256GB 黑色，徕卡影像旗舰
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=小米14 Pro 512GB 白色">
                    ? 小米14 Pro 512GB 白色，超大存储性能强劲
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=大疆Pocket 3 标准版">
                    ? 大疆Pocket 3 标准版，vlog创作神器
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=大疆Pocket 3 全能套装">
                    ? 大疆Pocket 3 全能套装，配件齐全创作无忧
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=索尼A7M4 单机身">
                    ? 索尼A7M4 单机身，专业摄影首选
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=索尼A7M4 套机(28-70mm)">
                    ? 索尼A7M4 套机，入门即用性价比高
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=佳能EOS R50 黑色单机身">
                    ? 佳能EOS R50 黑色单机身，轻便入门微单
                </a>
            </div>

            <div>
                <a href="https://www.baidu.com/s?wd=佳能EOS R50 白色套机(18-45mm)">
                    ✨ 佳能EOS R50 白色套机，时尚外观即买即用
                </a>
            </div>

        </div>
    </ul>

</body>

</html>